
Lab2/.DS_Store
.DS_Store
Lab2/.DS_Store
Lab2/.DS_Store
.DS_Store
.DS_Store
Lab2/.DS_Store
.DS_Store
Lab2/.DS_Store
.DS_Store
Lab3/.DS_Store
.DS_Store
.DS_Store
Lab2/.DS_Store
Lab3/Lab3.cr.mti
Lab3/Lab3.mpf
Lab3/transcript
Lab3/vsim.wlf
Lab3/wlftLKsUXz
Lab3/work/_info
Lab3/work/_lib.qdb
Lab3/work/_lib1_1.qdb
Lab3/work/_lib1_1.qpg
Lab3/work/_lib1_1.qtl
Lab3/work/_opt__lock
Lab3/work/_vmake
Lab3/work/@_opt/_lib.qdb
Lab3/work/@_opt/_lib1_0.qdb
Lab3/work/@_opt/_lib1_0.qpg
Lab3/work/@_opt/_lib1_0.qtl
Lab3/work/@_opt/_lib2_0.qdb
Lab3/work/@_opt/_lib2_0.qpg
Lab3/work/@_opt/_lib2_0.qtl
Lab3/work/@_opt/_lib3_0.qdb
Lab3/work/@_opt/_lib3_0.qpg
Lab3/work/@_opt/_lib3_0.qtl
Lab3/work/@_opt/_lib4_0.qdb
Lab3/work/@_opt/_lib4_0.qpg
Lab3/work/@_opt/_lib4_0.qtl
Lab3/work/@_opt/_lib5_0.qdb
Lab3/work/@_opt/_lib5_0.qpg
Lab3/work/@_opt/_lib5_0.qtl
Lab3/work/@_opt/_data/exemptexJ3OJ
Lab3/work/@_opt/_data/exemptZj7XQk
work/_info
Q1.pdf
Q2.pdf
.gitignore
.DS_Store
Lab3/.nfs00000000090e891f0000035a
Lab3/work/_lib1_2.qdb
Lab3/work/_lib1_2.qpg
Lab3/work/_lib1_2.qtl
Lab3/work/@_opt/_lib6_0.qdb
Lab3/work/@_opt/_lib6_0.qpg
Lab3/work/@_opt/_lib6_0.qtl
Lab3/work/@_opt/_data/exempteHZVk3
Lab3/work/@_opt/_data/exemptGn0X6r
.DS_Store
